.page {
    font-family: "Varela Round";
    padding: 0;
    background: var(--body_background);
    color: var(--ion-text-color);
}



.inputContainer {
    border: 0px solid var(--ion-border-line);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-block: 2px;
}

.search {
    width: 90%;
    margin-right: auto;
    height: 37px;
    border-radius: 5px;
    padding: 4px;
    background: transparent;
    border: 0px solid white;
    outline: none;
    color: var(--ion-text-color);
    text-align: center;
    font-size: 19px;
}

.what {
    border: 0px solid black;
    padding-block: 1em;
    font-weight: 800;
    font-size: large;
}

.page p {
    color: var(--ion-text-color);
}

.menu {
    color: var(--ion-text-color);
}

.lab {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: var(--ion-text);
    margin: auto;
    margin-top: 0.5rem;
}

.lab p {
    font-size: 18px;
}

.horizontalScroll {
    --overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 1rem;
    height: 22%;
}

.horizontalScroll::-webkit-scrollbar {
    display: none;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 3rem;
    color: white;
}

@media (max-height: 790px) {
    .scrollContainer {
        padding-left: 10px;
    }

    .horizontalScroll {
        padding-bottom: 10rem;
    }
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.category {
    display: flex;
    justify-content: space-evenly;
}

@media (max-height: 790px) {
    .category {
        margin-bottom: 10px;
    }
}

.category p {
    background: var(--ion-primary);
    color: var(--ion-text-color);
    width: fit-content;
    padding: 4px 12px;
    border-radius: 10px;
}

.horizontalScroll2 {
    --overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 30%;
}

.horizontalScroll2::-webkit-scrollbar {
    display: none;
}

.scrollContainer2 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 1.5rem;
}

@media (max-height: 670px) {
    .scrollContainer2 {
        padding-left: 10px;
        margin-top: 0.1rem;
    }

    .horizontalScroll2 {
        padding-bottom: 10rem;
    }
}

.scrollContainer2::-webkit-scrollbar {
    display: none;
}

.map{
    border: 1px solid black;
    background-image: url('/assets/map.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 150px;
    margin-top: 2rem;
}

.glass {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    border-radius: 15px; /* Smooth corners */
    backdrop-filter: blur(4px); /* Glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border with transparency */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* Text color for visibility */
  }